.section {
    position: relative;
  }
  
  .plass {
    position: absolute;
    height: 70px;
    width: 70px;
    font-size: 35px;
    padding-bottom: 10px;
    right: 5%;
    bottom: -30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.466);
  }