<div class="pb-5 pt-3">
  <p class="h1 text-center">Project</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, hic ratione? Quam atque, laborum vero animi
    ducimus accusamus perspiciatis vitae ab incidunt dolores expedita a aut voluptatibus! Id ullam asperiores
    consequatur, similique sapiente a amet? Esse ad numquam, voluptatum minima error dolorum deserunt magni labore
    accusamus enim culpa, distinctio vero voluptates similique quas animi dicta id! Maxime facilis nostrum animi a aut
    autem nihil voluptate pariatur tempora delectus numquam alias totam doloremque modi odio minima aperiam, sed
    voluptates natus veniam tempore suscipit obcaecati sit molestias? Voluptatum a rem molestias facilis culpa similique
    reprehenderit tempore eligendi, harum animi aliquam quam unde voluptates corporis obcaecati repellat debitis.</p>
</div>
